{% extends 'base.html' %}


{% block title %}List Home{% endblock title %}


{% block content %}
<h1>Check out these reviews!</h1>

<a href="{% url 'my_list' %}" class="btn btn-primary"><button>My Reviews</button></a>


<div class="row">
    {% for post in post_list %}
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card mb-5">
                <div class="card-body">
                    <h5 class="card-title">{{ post.book_title }}</h5>
                    <p class="card-text">{{ post.body | truncatechars:90 }}<a href="{% url 'details' post.pk %}"> Read more</a></p>
                    
                    {% if post.post_author == request.user %}
                        <a href="{% url 'edit' post.pk %}" class="btn btn-primary">Edit</a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}