{% extends 'base.html' %}
{% load static %}



{% block title %}All{% endblock title %}


{% block content %}
<div class="page_h1">
    <h1>Check out these reviews!</h1>
</div>
<div class="button_trio">
    {% if user.is_authenticated %}
    <a href="{% url 'new' %}" class="btn"><button>Create</button></a>
        <a href="{% url 'my_list' %}" class="btn"><button>My Reviews</button></a>
        <a href="{% url 'profile_update' %}" class="btn"><button>My profile</button></a>
        <a href="{% url 'logout' %}" class="btn"><button>Logout</button></a>
    {% endif %}
</div>

<div class="row">
    {% for post in post_list %}
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card mb-5">
                <div class="card-body">
                    <h5 class="card-title">{{ post.book_title }}</h5>
                    <p class="card-text">{{ post.body | truncatechars:90 }}<a href="{% url 'details' post.pk %}"> Read more</a></p>
                    
                    {% if post.post_author == request.user %}
                        <a href="{% url 'edit' post.pk %}" class="btn btn-primary">Edit</a>
                        {% else %}
                        <p> by: {{ post.post_author }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}