{% extends 'base.html' %}

{% block title %}About{% endblock title %}


{% block content %}
<h1>About Us</h1>
<p>
    Welcome to Book Blog!

At Book Blog, we celebrate the magic of books and the joy of reading. 
Our passion for literature drives us to create a vibrant community where 
book lovers, like you, can share and discover captivating reviews.

Founded by developers that are avid readers and storytellers, our platform 
aims to connect readers of all genres and backgrounds. We believe in the 
power of diverse voices and honest discussions.

Here, you'll find engaging book reviews from fellow enthusiasts, as well 
as the opportunity to contribute your own thoughts. Our interactive space 
is designed to spark conversations, inspire new reading adventures, and 
forge meaningful connections.

Join us in the enchanting world of words, where every page is an invitation 
to explore and imagine. Let's embark on this literary journey together!

Happy reading,
The Book Blog Team
</p>

<button class="home_about_btns"><a href="{% url 'list' %}">See Reviews</a></button>




{% endblock content %}