
/* Color Theme # 1 Swatches in Hex */
/* .The-Kingblade-Chronicles-1-hex { color: #2A3E59; }
.The-Kingblade-Chronicles-2-hex { color: #4A593B; }
.The-Kingblade-Chronicles-3-hex { color: #A67437; }
.The-Kingblade-Chronicles-4-hex { color: #F2B66D; }
.The-Kingblade-Chronicles-5-hex { color: #0D0D0D; } */

/* #2 */





nav {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
button.home_about_btns {
    background-color: #2A3E59;
}


/* Body Content container --------------------------*/
.container {
    padding: 1.7%;
    background-color: rgb(132, 158, 166);
    height: calc(100vh - 20px);
    min-height: calc(100vh - 20px);
    margin-right: 0 !important;
    margin-left: 0 !important;
    max-width: 100%;
}

/* All h1's ----------------------------------------*/
.page_h1 {
    background-color: lightsteelblue;
    padding-left: 10px;
    padding-top: 5px;
}


/* (home)lists.html & my-list.html------------------------------- */
.navbar .base{
    background-color: #2A3E59;   
}
a {
    color: rgb(99, 203, 238) !important;
}
.h1_btnTrio {
    background-color: lightgreen;
    margin-bottom: 3%;
}
button.btn{
    color: rgb(99, 203, 238);
    border-color: rgb(99, 203, 238);
}
.button_trio {
    background-color: grey;
}

.row {
    background-color: rgb(209, 157, 209);
    min-height: calc(100vh - 90px) !important;
    height: calc(100vh - 90px) !important;
}
.card.mb-5 {
    background-color: rgb(250, 250, 113)!important;
    border: 1.5px solid #2A3E59;
    
}



/* details.html ------------------------------------*/
.details_postNum {
    display: none;
}
.details_layout {
    background-color: rgb(106, 203, 106);
    max-width: 66%;
    padding: 3px;
    margin-left: 20%;
    margin-top: 3%;
    height: 82% !important;   
}
.details_h2 {
    background-color: #a3c3ed;
    padding-left: 10px;
    padding-top: 5px;
}
.details_body {
    background-color: beige;
    border: 1.5px solid #2A3E59;
    padding: 5%;
    margin-top: 3%;
}


/* user_profile.html ------------------------------*/
.d-flex justify-content-center img{
   /* *** profile Image *** */
}
.userProfile {
    background-color: lightgrey;
}
.profile_text {
    background-color: rgb(255, 255, 182);
}
.updatePanel {
    background-color: lightgrey;
}
.updatePanel_h5 {
    background-color: rgb(243, 243, 174);
}


/* profile Update--------------------------------- */
.container form {
    max-width: 50%;
    background-color: yellow;
    margin-left: 25%;
}
.profileUpdate_Form {
    background-color: rgb(205, 109, 109);
}
.updateChange_Btn {
    background-color: rgb(35, 223, 35);
    color:blue !important;
}


/* Footer -----------------------------------------*/
.foot {
    background-color: #2A3E59;   
}

.foot a.foot_link {
    color: lightgrey !important;
    padding-left: 1.23%;

}



